# Dependencies
node_modules/
.npm-debug.log*

# Supabase Local Files
.branches
.temp
supabase/.temp/

# Environment / Secrets
.env
.env.local
.env.*
.env.keys

# OS Files
.DS_Store
Thumbs.db
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
